.my-ui-text {
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #aaaaaa
}
::-webkit-scrollbar-thumb {
  background: #757272;
}

.tab-item .icon-close-tab {
  left: auto;
  right: 5px;
}

.swal-modal .swal-title {
  border-bottom: 1px solid #c2c0c2;
  min-height: 22px;
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e8e6e8),color-stop(100%,#d1cfd1));
  background-image: -webkit-linear-gradient(top,#e8e6e8 0,#d1cfd1 100%);
  background-image: linear-gradient(to bottom,#e8e6e8 0,#d1cfd1 100%);

  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: normal;
  padding: 5px;
}

.swal-footer {
  border-top: 1px solid #c2c0c2;
  min-height: 22px;
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e8e6e8),color-stop(100%,#d1cfd1));
  background-image: -webkit-linear-gradient(top,#e8e6e8 0,#d1cfd1 100%);
  background-image: linear-gradient(to bottom,#e8e6e8 0,#d1cfd1 100%);

  padding: 0;
  margin-top: 30px;
}